
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Instituicao</th>
                    <th>NomeContato</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var registro in ViewBag.Registros)
                {
                    <tr>
                        <td>@registro.Id</td>
                        <td>@registro.Instituicao</td>
                        <td>@registro.NomeContato</td>
                        <td>@registro.Telefone</td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
</html>
